@use 'colors';

$divider-normal-thickness: 1px;
$divider-normal-style: solid;
$divider-normal-margin-sides: 1em;
$divider-normal-margin-top: 2em;
$divider-normal-margin-bottom: 2em;

$divider-thin-thickness: 1px;
$divider-thin-style: dotted;
$divider-thin-margin-sides: 2em;
$divider-thin-margin-top: 1em;
$divider-thin-margin-bottom: 1em;

$divider-thick-thickness: 2px;
$divider-thick-style: solid;
$divider-thick-margin-sides: 0.5em;
$divider-thick-margin-top: 4em;
$divider-thick-margin-bottom: 4em;

@mixin hr-reset {
    border-left: 0;
    border-bottom: 0;
    border-right: 0;
}

@mixin normal {
    margin: $divider-normal-margin-top $divider-normal-margin-sides $divider-normal-margin-bottom $divider-normal-margin-sides;
}

@mixin thin {
    margin: $divider-thin-margin-top $divider-thin-margin-sides $divider-thin-margin-bottom $divider-thin-margin-sides;
}

@mixin thick {
    margin: $divider-thick-margin-top $divider-thick-margin-sides $divider-thick-margin-bottom $divider-thick-margin-sides;
}

hr, hr.normal-primary {
    margin-top: $divider-normal-thickness $divider-normal-style colors.$color-primary;
    @include hr-reset;
    @include normal;
}

hr.normal-secondary {
    margin-top: $divider-normal-thickness $divider-normal-style colors.$color-secondary;
    @include hr-reset;
    @include normal;
}

hr.normal-tertiary {
    margin-top: $divider-normal-thickness $divider-normal-style colors.$color-tertiary;
    @include hr-reset;
    @include normal;
}

hr.normal-neutral {
    margin-top: $divider-normal-thickness $divider-normal-style colors.$color-neutral;
    @include hr-reset;
    @include normal;
}

hr.normal-neutral-variant {
    margin-top: $divider-normal-thickness $divider-normal-style colors.$color-neutral-variant;
    @include hr-reset;
    @include normal;
}



hr.thin-primary {
    margin-top: $divider-thin-thickness $divider-thin-style colors.$color-primary;
    @include hr-reset;
    @include thin;
}

hr.thin-secondary {
    margin-top: $divider-thin-thickness $divider-thin-style colors.$color-secondary;
    @include hr-reset;
    @include thin;
}

hr.thin-tertiary {
    margin-top: $divider-thin-thickness $divider-thin-style colors.$color-tertiary;
    @include hr-reset;
    @include thin;
}

hr.thin-neutral {
    margin-top: $divider-thin-thickness $divider-thin-style colors.$color-neutral;
    @include hr-reset;
    @include thin;
}

hr.thin-neutral-variant {
    margin-top: $divider-thin-thickness $divider-thin-style colors.$color-neutral-variant;
    @include hr-reset;
    @include normal;
}


hr.thick-primary {
    margin-top: $divider-thick-thickness $divider-thick-style colors.$color-primary;
    @include hr-reset;
    @include thick;
}

hr.thick-secondary {
    margin-top: $divider-thick-thickness $divider-thick-style colors.$color-secondary;
    @include hr-reset;
    @include thick;
}

hr.thick-tertiary {
    margin-top: $divider-thick-thickness $divider-thick-style colors.$color-tertiary;
    @include hr-reset;
    @include thick;
}

hr.thick-neutral {
    margin-top: $divider-thick-thickness $divider-thick-style colors.$color-neutral;
    @include hr-reset;
    @include thick;
}

hr.thick-neutral-variant {
    margin-top: $divider-thick-thickness $divider-thick-style colors.$color-neutral-variant;
    @include hr-reset;
    @include normal;
}
