//
//  Material Design 3 CSS Implementation
//
//
//  Material Design to CSS Glossary:

//    The design system creators insist on using design terminology in developer docs, some of which
//    is non-standard withing the design community. CSS, having been developed primarilly by developers
//    also ignores standard design terminolgy with, sometimes creative, property names, which makes
//    mapping Material Design terms to CSS confusing for both parties.
//
//    "font tracking" - In CSS this is controlled by the letter-spacing property. Most designers call 
//        this "kearning".
//    "line height" - Surprisingly, this maps correctly to the line-height attribute, though historically
//        this is called "leading" (as in the metal) in the design profession.
//    --------------------------------------------------------------------------------------------------
//
//    Typographic examples are derived from: https://m3.material.io/styles/typography/type-scale-tokens

@use 'typography';
@use 'colors';
@use 'buttons';
@use 'dividers';
