@import url('md3.css');

address, article, aside, blockquote, canvas, dd, div, dl, dt, fieldset, figcaption, figure, 
footer, form, h1, h2, h3, h4, h5, h6, header, hr, li, main, nav, noscript, ol, p, pre, section, 
table, tfoot, ul, video {
    overflow: auto;
}

body {
    margin: 0;
}

body>header {
    padding: 0 1em;
}

main {
    padding: 0 1em;
    max-width: 1200px;
    margin: 0 auto;
}